body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 200px;
    position: relative;
}

.card img {
    height: 300px;
    width: 200px;
}

.card .img {
    position: absolute;
}

.card .rank {
    position: absolute;
    left: -20px;
    top: 100px;
}

.card .rank h1 {
    font-size: 100px;
}